<table class="table table-striped">
  <thead>
    <tr>
      <th>EmployeeId</th>
      <th>Employee Name</th>
      <th>Department</th>
      <th>Date Of Joining</th>
      <th>Photo File Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of EmployeeList">
      <td>{{data.EmployeeId}}</td>
      <td>{{data.EmployeeName}}</td>
      <td>{{data.Department}}</td>
      <td>{{data.DateOfJoining}}</td>
      <td>{{data.PhotoFileName}}</td>
      <td>
        <button type="button" class="btn btn-light m-1">
          Edit
        </button>
        <button type="button" class="btn btn-light m-1">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
